/* About__header-bottom */
.about__header-bottom {
    margin-bottom: 9.3rem;

    @media(max-width: 1300px) {
        margin-bottom: 4rem;
    }
}

.about__header-bottom-title {
    padding: 4.7rem 0 12.5rem;

    text-align: left;
    
    h2 {
        color: $white;
    }

    @media(max-width: 1300px) {
        padding: 4.8rem 0 3.5rem;

        h2{
            font-size: 3rem;
            line-height: 4.6rem;

        }
    }
}

.about__header-bottom-text {
    margin-bottom: 3rem;
    max-width: 48.4rem;

    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $white;
}

.about__header-bottom-btn {
    margin-top: 8.5rem;

    @media(max-width: 1300px) {
        margin-top: 4rem;
    }
}


/* About__info */
.about__info {
    margin-bottom: 9.3rem;

    @media(max-width: 1300px) {
        margin-bottom: 3.5rem;
    }
}

.about__info-item {
    padding-top: 21.1rem;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;

    @media(max-width: 1024px) {
        padding-top: 0;

        box-shadow: $shadow;
    }
}

.about__info-content {
    padding: 10rem 10rem 11.6rem;
    margin-left: auto;
    max-width: 77.1rem;
    min-height: 50.2rem;
    width: 100%;
    position: relative;

    background-color: $white;

    &::before,
    &::after {
        content: "";
        width: 200%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 100%;
        
        background-color: $white;
    }

    &::before {
        display: none;
    }

    @media(max-width: 819px) {
        padding: 3.5rem;
        margin-bottom: 3rem;
        min-height: auto;

        &::after {
            display: none;
        }
    }
}

.about__info-item:nth-child(even) {
    padding: 0 0 21.1em;
    background-position: right center!important;

    & .about__info-content {
        margin-left: 0;

        &::before {
            display: block;

            right: 100%;
            left: auto;
        }

        &::after {
            display: none;
        }

        @media(max-width: 819px) {
            &::before {
                display: none;
            }
        }
    }

    @media(max-width: 1024px) {
        padding-bottom: 0;
    }
}

.about__info-title {
    padding: 0 0 5.8rem;
    text-align: left;

    h3 {
        font-size: 3.6rem;
        line-height: 4.2rem;
        font-weight: 400;
        text-transform: none;
    }

    @media(max-width: 819px) {
        padding-bottom: 3.5rem;

        text-align: center;

        h3 {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
    }
}

.about__info-text {
    max-width: 42rem;
    width: 100%;

    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $text-color;

    @media(max-width: 819px) {
        max-width: 100%;

        text-align: center;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

/* About-advantages */
.about-advantages {
    margin-bottom: -60rem;
    padding: 10.5rem 0 35rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width: 819px) {
        padding: 3.5rem 0;
        margin-bottom: 3rem;
    }
}

.about-advantages__inner {
    max-width: 52.2rem;
    width: 100%;

    @media(max-width: 819px) {
        max-width: 100%;
    }
}
.about-advantages-title {
    margin-bottom: 8.3rem;
    padding: 0 0 3rem;
    text-align: left;

    h3 {
        font-size: 3.6rem;
        line-height: 4.2rem;
        font-weight: 400;
        color: $white;
        text-transform: none;
    }

    @media(max-width: 819px) {
        margin-bottom: 0;

        text-align: center;

        h3 {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
    }
}

.about-advantages__item {
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;

    @media(max-width: 819px) {
        margin-bottom: 1.5rem;
        justify-content: center;
    }
}

.about-advantages__item-number {
    width: 2.6em;

    font-size: 2.4rem;
    line-height: 3.2rem;
    color: $red;
}

.about-advantages__item-text {
    max-width: 42rem;
    width: 100%;

    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $white;

    @media(max-width: 819px) {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}