.btn {
    display: block;
    width: 27rem;
    height: 4.2rem;
    padding: 0 1rem;

    font-size: 1.8rem;
    line-height: 4.2rem;
    color: $white;
    text-align: center;

    background: $red;
}