.header {
    position: relative;

    background-color: $black;

    color: rgba($white, .8);
}

.header__inner {
    height: 11rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__phone {
    padding-left: 3rem;

    color: $white;

    @media(max-width: 1000px) {
        display: none;
    }
}
