.programs__variant {
    margin: 0 .75rem 3rem;
    max-width: 57rem;
    width: 100%;

    background-color: $white;

    box-shadow: $shadow;
}

.programs__variant-logo {
    position: relative;
    height: auto;

    img{
        width: 100%;
    }
}

.programs__variant-category {
    padding: .6rem 1.4rem;

    position: absolute;
    bottom: 0;
    left: 7rem;

    font-size: 1.4rem;
    line-height: 1;
    color: $white;
    text-transform: uppercase;

    background-color: $title-color;
    transform: translateY(50%);

    &.red {
        background-color: $red;
    }
}

.programs__variant-content {
    padding: 4.5rem 3.4rem 5.9rem 7rem;

    @media(max-width: 650px) {
        padding: 3rem;
    }
}

.programs__variant-title {
    padding: 0;
    margin-bottom: 2.8rem;
    text-align: left;

    h3 {
        font-size: 3.6rem;
        line-height: 4.2rem;
        font-weight: 400;
        text-transform: capitalize;
    }

    @media(max-width: 450px) {
        h3 {
            font-size: 3rem;
            line-height: 3.8rem;
        }
    }
}

.programs__variant-text {
    margin-bottom: 2.4rem;
    max-width: 34.5rem;
    width: 100%;

    font-size: 2rem;
    line-height: 2.6rem;
    color: $title-color;
}

.programs__variant-subtext {
    margin-bottom: 3.2rem;

    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $text-color;
}

.programs__variant-btn {
    width: 33rem;

    @media(max-width: 650px) {
        width: 100%;
    }
}