.programs__header-bottom {
    margin-bottom: 10.7rem;
}

.programs__title {
    padding: 3rem 0 7.8rem;
    
    h2 {
        color: $white;
    }

    @media(max-width: 1300px) {
        padding: 3rem 0 4rem;

        h2 {
            font-size: 3rem;
            line-height: 3.6rem;
        }
    }
}

.programs__header-bottom-items {
    max-width: 44rem;
    width: 100%;

    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $white;
}

.programs__header-bottom-item + .programs__header-bottom-item {
    margin-top: 6rem;

    @media(max-width: 1300px) {
        margin-top: 3rem;
    }
}

.programs__header-bottom-item {
    padding-left: 10rem;
    position: relative;

    @media(max-width: 450px) {
        padding: 10rem 0 0;

        text-align: center;
    }
}

.programs__header-bottom-icon {
    position: absolute;
    top: .5rem;
    left: 0;

    @media(max-width: 450px) {
        left: 50%;
        top: 1rem;

        transform: translate(-50%, 0);
    }
}

.programs__variants-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media(max-width: 1194px) {
        justify-content: center;
    }
}