.request {
    margin-top: -15%;

    @media(max-width: 1125px) {
        margin-top: -30%;
    }

    @media(max-width: 785px) {
        margin-top: -40%;
    }

    @media(max-width: 450px) {
        margin-top: 2rem;
    }
}

.request__card {
    min-height: 53rem;
    position: relative;
    padding: 6.3rem 10rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transform: translateY(50%);

    @media(max-width: 890px) {
        padding: 3.5rem;
    }

    @media(max-width: 450px) {
        margin-top: 2rem;

        transform: none;
    }
}

.request__content {
    max-width: 68rem;
    width: 100%;

    color: $white;
}

.request__card-title {
    margin-bottom: 2.5rem;

    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;

    @media(max-width: 785px) {
        margin-bottom: .5rem;

        font-size: 2rem;
        line-height: 2.6rem;
    }
}

.request__content-info {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 785px) {
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }
}

.request-info__title {
    padding: 1.3rem 2.1rem;
    margin-right: 1.3rem;

    font-size: 1.6rem;
    line-height: 1;
    font-weight: 700;

    border: 2px dashed $red;
}

.request-info__text {
    font-size: 1.6rem;
    line-height: 2rem;

    @media(max-width: 785px) {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

.request__photo {
    height: 110%;

    position: absolute;
    bottom: 0;
    right: 0;

    @media(max-width: 1125px) {
        display: none;
    }
}


