.request {
    margin-top: -15%;
}

.request__card {
    min-height: 53rem;
    position: relative;
    padding: 6.3rem 10rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transform: translateY(50%);
}

.request__content {
    max-width: 68rem;
    width: 100%;

    color: $white;
}

.request__card-title {
    margin-bottom: 2.5rem;

    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
}

.request__content-info {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request-info__title {
    padding: 1.3rem 2.1rem;
    margin-right: 1.3rem;

    font-size: 1.6rem;
    line-height: 1;
    font-weight: 700;

    border: 2px dashed $red;
}

.request-info__text {
    font-size: 1.6rem;
    line-height: 2rem;
}

.request__photo {
    height: 110%;

    position: absolute;
    bottom: 0;
    right: 0;
}


