<header class="header">
    <div class="container">
        <div class="header__inner">
            
            <div class="header__logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="Logo"></a>
            </div>

            <nav class="header__menu">
                <ul class="menu__list">
                    <li><a href="#">Главная</a></li>
                    <li><a href="about.html">О компании</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="programs.html">Программы</a></li>
                    <li><a href="education.html">Обучение</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>

            <div class="header__phone">
                <a href="tel:88435005573">+7(843) 500-55-73</a>
            </div>

        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header><!-- /.header -->